<h2><%= t('helpers.pages.commands.new_command') %></h2>

<%= simple_form_for @command, html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <%= f.input :mode_id, as: :select, collection: @modes %>
  <%= f.input :command %>
  <%= f.input :description %>

  <%= f.submit class: "btn btn-success" %>
<% end %>
