<!DOCTYPE html>
<html>
  <head>
    <title>BeVimmer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content="width:devce-width, initial-scale=1.0" name="viewport">
  </head>

  <body>
    <%= render 'layouts/nav' %>

    <div class="container main-content">
      <%= render 'shared/flash_messages'%>
      <%= yield %>
    </div>
  </body>
</html>
